<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>微型在线报表系统</title>
    
    <meta name="description" content="微型在线报表系统">
    <meta name="keywords" content="微型在线报表系统">

    <!--[if lt IE 8]>                                                                                                                                                                                                                                                                                                                                  
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="shortcut icon" href="{% static 'images/img/favicon.ico' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    
    <link rel="stylesheet" href="{% static 'js/layui/src/css/layui.css' %}">
    <link href="{% static 'js/sanjiliandong/css/select2.css' %}" rel="stylesheet"/>

</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close">
                <i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span id = 'wjz_numbers'>在线管理系统</span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">Beaut-zihan</strong></span>
                                <span class="text-muted text-xs block">超级管理员<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li id = 'li_vioce'>
                                    <a href="javascript:;"><span id="vioce_down" class="glyphicon glyphicon-volume-down"></span></a>


                                    <audio id = 'audio1'>
                                      <source  src="style/audio.ogg" type="audio/ogg">
                                      <source src="style/audio.mp3" type="audio/mpeg">
                                    </audio>

                                </li>
                                <li><a href="help.html" target="_blank">帮助</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="{% url 'login' %}">安全退出</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="zy_left">
                        <a href="#">
                            <i class="layui-icon">&#xe632;</i>
                            <span class="nav-label">主页</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->

        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0;display: none;">
                        <a id = "nav_main" class="navbar-minimalize minimalize-styl-2 btn btn-primary pull-left" href="#">   <i class="fa fa-bars"></i>
                        </a>
                    <div  class="bs-example bs-example-form" role="form" id = "nav_search">
                        <div class="input-group input-group-sm" id = "nav_search" style="margin-top: 15px;">
                            <span class="input-group-addon">开始时间</span>

                            <input style="height: 40px;"  type="text" id = 'start_time1' class="form-control nav_time laydate-icon" placeholder="请选择开始时间">

                            <span class="input-group-addon">结束时间</span>
                            <input style="height: 40px;" type="text" id = 'end_time'  class="form-control nav_time laydate-icon" placeholder="请选择结束时间">

                            <span  class="input-group-addon">关键词</span>
                            <input id = 'tjcx_keyword' style="height: 40px;" type="text" class="form-control" placeholder="请输入关键词">
                            <span class="input-group-addon">
                                <select id = 'tjcx_select' class="sscx_select">
                                    <option value="all_messages">全部类型</option>
                                    <option value ="defraud_messages">诈骗短信</option>
                                    <option value ="safety_messages">安全短信</option>
                                    <option value="rubblish_messages">垃圾短信</option>
                                </select>
                            </span>
                            <span class="input-group-addon">省市</span>
                            <span class="input-group-addon">
                                    <select id="loc_province" style="width: 85px;">
                                    </select>
                                    <select id="loc_city"  style="width: 100px;">
                                    </select>
                                    <select style="display: none" id="loc_town" style="width:120px;margin-left: 10px">
                                    </select>
                            </span>
                            <span class="input-group-addon">
                                <button id = "statistics_btn" style="background: #fff; color:#000; margin-top: 10px;" data-toggle="modal" data-target="#myModal" class="btn btn-default btn-sm" type="submit">创建</button>
                            </span>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- 表单开始 -->
            <table id="list_table">
                <thead>
                    <button id = "toolbar" data-toggle="modal" data-target="#myModal" class="btn btn-default add_add" type="button" name="refresh" title="增加"><i class="glyphicon glyphicon-plus"></i></button>
                    <tr>
                        <th data-field="state" data-radio="true"></th>
                        <th data-field="id">ID</th>
                        <th data-field="model_number">中心编号</th>
                        <th data-field="model_cname">中心名称</th>
                        <th data-field="model_name">联系人姓名</th>
                        <th data-field="model_phone">联系电话</th>
                        <th data-field="model_address">所在地点</th>
                        <th data-field="model_time">计划启动时间</th>
{#                        <th data-field="model_number">创建人</th>#}
{#                        <th data-field="model_number">创建时间</th>#}
{#                        <th data-field="model_number">更新人</th>#}
{#                        <th data-field="model_number">更新时间</th>#}
                    </tr>
                </thead>
            </table>

            <div class="row J_mainContent" id="content-main">
                    <!-- 模态框（Modal） -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    添加信息中心
                                </h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">中心编号</label>
                                        <div class="col-sm-10">
                                            <input type="text" id = 'center_number' name = 'center_number' class="form-control"
                                                   placeholder="请输入中心编号">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword"  class="col-sm-2 control-label">中心名称</label>
                                        <div class="col-sm-10">
                                            <input type="text" id = 'center_mc' name = 'center_mc' class="form-control"
                                                   placeholder="请输入中心名称">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword" class="col-sm-2 control-label">联系人</label>
                                        <div class="col-sm-10">
                                            <input type="text" id = 'center_pr' name = 'center_pr' class="form-control"
                                                   placeholder="请输入联系人">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword" class="col-sm-2 control-label">电话</label>
                                        <div class="col-sm-10">
                                            <input type="text" id = 'center_mobile' name = 'center_mobile' class="form-control"
                                                   placeholder="请输入联系电话">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword" class="col-sm-2 control-label">所在地址</label>
                                        <div class="col-sm-10">
                                            <select class="sscx_select" id = "sscx_select" >
                                                <option value="all_messages">所在地址</option>
                                                <option value ="北京">北京</option>
                                                <option value ="天津">天津</option>
                                                <option value="上海">上海</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword" class="col-sm-2 control-label">开始日期</label>
                                        <div class="col-sm-10">
                                             <input style="height: 40px;"  type="text" id = 'start_time' name = 'start_time' class="form-control nav_time laydate-icon" placeholder="请选择开始时间">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                        data-dismiss="modal">关闭
                                </button>
                                <button id = 'go_submit' type="button" class="btn btn-primary" data-dismiss="modal">
                                    提交
                                </button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
{#            <div class="footer">#}
{#                <div class="img_logo pull-right">#}
{##}
{#                </div>                #}
{#            </div>#}
        </div>
        <!--右侧部分结束-->
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.js' %}"></script>
    <script src="{% static 'js/bootstrap-table-zh-CN.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.min.js' %}"></script>
     <script src="{% static 'js/hplus.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/contabs.min.js' %}"></script>
    <script src="{% static 'js/laydate/laydate.js' %}"></script>
    <script src = "{% static 'js/my_write.js' %}"></script>


    <script src="{% static 'js/layui/src/layui.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/sanjiliandong/js/area.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sanjiliandong/js/location.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sanjiliandong/js/select2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sanjiliandong/js/select2_locale_zh-CN.js' %}"></script>

    <script tpye = "text/javascript" src = "{% static 'js/my_table_excels/jquery.table2excel.min.js' %}"></script> <!-- table导出excel -->
</body>
<script>
$(function() {

    //提交增加事件
    $('#go_submit').click(function(){
        window.location.reload();  //刷新界面
        $('#myModal').modal('hide')
        $.ajax({
             cache: false,
             type: "POST",
             url:{% url 'index' %},
             data: {
                    'center_number': $('#center_number').val(), //编号
                    'center_mc': $('#center_mc').val(), //名称
                    'center_pr': $('#center_pr').val(),//联系人
                    'center_mobile': $('#center_mobile').val(),//电话
                    'sscx_select': $('#sscx_select').val(),//城市
                    'start_time': $('#start_time').val()//时间

                    },
             async:true,
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(data){

                console.log(data);

            }
        });
        return false; //<---- move it here
    });



    window.onload=function() {  //当页面刷新执行事件

        $.ajax({
         cache: false,
         type: "POST",
         url:{% url 'to_message' %},
         data: {
                'center_number': $('#center_number').val(), //编号
                'center_mc': $('#center_mc').val(), //名称
                'center_pr': $('#center_pr').val(),//联系人
                'center_mobile': $('#center_mobile').val(),//电话
                'sscx_select': $('#sscx_select').val(),//城市
                'start_time': $('#start_time').val()//时间

                },
         async:true,
        beforeSend:function(xhr, settings){
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        success: function(data){

            $('#list_table').bootstrapTable('load', data);

        }
    });

    return false; //<---- move it here
}













        // 设备列表页表格开始
    $('#list_table').bootstrapTable({
        url: 'data.json',
        method:'post',
        striped: 'true', //是否显示隔行变色
        cache: 'false', //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
        pagination:'true', //是否显示分页（*）
        search: 'true',   //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
        showRefresh: 'true',
        showToggle: 'true',//是否显示详细视图和列表视图的切换按钮
        minimumCountColumns: '2', //最少允许的列数
        uniqueld: 'id',
        clickToSelect: 'true', //设置true 将在点击行时，自动选择rediobox 和 checkbox
        toolbar: '#toolbar',  //一个jQuery 选择器，指明自定义的toolbar 例如:#toolbar,
        radio: 'true', //开启单选按钮
        pageSize: 5,
        showPaginationSwitch: 'true', //是否显示 数据条数选择框
        onClickRow:function(row, $element, field){
        $('#myModal').modal('show')
        $.ajax({
                cache: false,
                type: "POST",
                url:{% url 'center_detail' %},
                data: {'id': row.id},
                async:true,
                beforeSend:function(xhr, settings){
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(data){
                    $('#center_number').val(data.model_number);
                    $('#center_mc').val(data.model_cname);
                    $('#center_pr').val(data.model_name);
                    $('#center_mobile').val(data.model_phone);
                    $('#sscx_select').val(data.model_address);
                    $('#start_time').val(data.model_time)
                }
            });

            return false; //<---- move it here
        }
    });

});
</script>
</html>
